body {
    font-family: sans-serif;
    margin: auto;
    max-width: 1180px;
    background-color: lightblue;
  }
  
  h1 {text-align: center;}
  h2 {text-align: center;}
  p {text-align: center;}
  p {font-size: xx-large}
  
  
  #shiva
  {
    width: 100px;
      height: 100px;
      background: red;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
    float:left;
    margin:5px;
  }
  .count
  {
    line-height: 100px;
    color:black;
    margin-left:0px;
    font-size:40px;
  }
  #talkbubble {
     width: 120px;
     height: 80px;
     background: red;
     position: relative;
     -moz-border-radius:    10px;
     -webkit-border-radius: 10px;
     border-radius:         10px;
    float:left;
    margin:20px;
  }
  #talkbubble:before {
     content:"";
     position: absolute;
     right: 100%;
     top: 26px;
     width: 0;
     height: 0;
     border-top: 13px solid transparent;
     border-right: 26px solid red;
     border-bottom: 13px solid transparent;
  }
  * {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  